<h1>Listing rss_sources</h1>

<table class="table striped border">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Trusted</th>
    <th>Tag</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rss_sources.each do |rss_source| %>
  <tr>
    <td><%= rss_source.name %></td>
    <td><%= rss_source.url %></td>
    <td><%= rss_source.trusted %></td>
    <td><%= rss_source.tag %></td>
      <td><%= rss_source.status %></td>
      <td><%= link_to 'Show', rss_source, class: 'btn btn-mini' %>
          <%= link_to 'Edit', edit_rss_source_path(rss_source), class: 'btn btn-mini' %>
    <%= link_to 'Destroy', rss_source, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rss source', new_rss_source_path %>
