<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rss_source.name %>
</p>

<p>
  <b>Url:</b>
  <%= @rss_source.url %>
</p>

<p>
  <b>Trusted:</b>
  <%= @rss_source.trusted %>
</p>

<p>
  <b>Tag:</b>
  <%= @rss_source.tag %>
</p>

<p>
  <b>Status:</b>
  <%= @rss_source.status %>
</p>


<%= link_to 'Edit', edit_rss_source_path(@rss_source) %> |
<%= link_to 'Back', rss_sources_path %>
