<div class="col-lg-3 article">
  <div class="panel panel-default">
    <div class="panel-heading"><%= raw truncate(article.title,length: 32, omission: '...')%></div>
    <div class="panel-body" style="padding: 2px">
      <p>
        <%= image_tag(article.image_url,style: 'width: 120px; height: 150px;float: left;margin: 10px') if not article.image_url.nil?  %>
        <%#= ActionView::Base.full_sanitizer.sanitize(truncate(article.content.strip, length: 100, omission: '..read more')).html_safe %>
        <%- temp = ActionView::Base.full_sanitizer.sanitize(article.content).html_safe%>
        <%= truncate(temp.delete!("&#13;"),length: 150) %>  
        <%= link_to "READ MORE", show_article_article_path(article.id), class: 'btn btn-danger btn-lg btn-small' %>
        </p>
      </div>
      <div class="panel-heading">
        
        <i class="icon-search"><%= link_to article.rss_source.name, article.site_url, target: '_blank'  %></i> |
        <i class="icon-search"><%= time_ago_in_words article.published %></i>
      </div>
    </div>

  </div>