<h1>Listing articles</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Summary</th>
    <th>Image url</th>
    <th>Site url</th>
    <th>Rss source</th>
    <th>Status</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= article.summary %></td>
    <td><%= article.image_url %></td>
    <td><%= article.site_url %></td>
    <td><%= article.rss_source_id %></td>
    <td><%= article.status %></td>
    <td><%= article.order %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
