<div class="row-fluid">
  <div id="articles" class="span12" style="float: left">
    <%- @articles.each do |article|%>
      <%= render "list", article: article %>
    <%- end %>
  </div>
</div>
<div class="page">
<%= paginate @articles %>
</div>
