<h2>
  <%= @article.title %>
</h2>

<p>
  <b>Content:</b>
  <%=raw @article.content %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Image url:</b>
  <%= @article.image_url %>
</p>

<p>
  <b>Site url:</b>
  <%= @article.site_url %>
</p>

<p>
  <b>Rss source:</b>
  <%= @article.rss_source_id %>
</p>

<p>
  <b>Status:</b>
  <%= @article.status %>
</p>

<p>
  <b>Order:</b>
  <%= @article.order %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
