<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags :site => 'Wikislam - Wikislampedia.com' %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47695907-1', 'wikislampedia.com');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript">
      $(function(){
        $(".ui-link").attr("data-transition","pop");
      })
      /*
      $(function(){
        $(".ui-link").each(function(){
          $(this).addClass('ui-btn')
        });
      })


      $( "#listview" ).live( "myCustomEvent", function( event, myName, myValue ) {
        $(".ui-link").each(function(){
          $(this).addClass('ui-btn')
        });
      });
      $( ".ui-link" ).click(function() {
        $( "#listview" ).trigger( "myCustomEvent" );
      }); */
    </script>
  </head>
  <body>
    <div data-role="main" data-theme="a" id="demo-page" class="my-page" data-url="demo-page">
      <div data-role="header" class="nav-glyphish-example" data-theme="a">

        <div data-role="navbar">
          <ul>
            <li><a href="<%= list_articles_path %>" class="ui-btn-active ui-icon-home ui-btn-icon-top">Home</a></li>
            <li><a href="<%= resources_articles_path %>" class="ui-icon-cloud ui-btn-icon-top">Resources</a></li>
            <li><a href="/about.html" class="ui-icon-mail ui-btn-icon-top">About Us</a></li>
          </ul>
        </div><!-- /navbar -->
      </div>
      <div role="main" class="ui-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
