<li><a href="<%= list_articles_path %>?rss_source_id=<%= rsssource.id %>" data-transition="flip">
    <%#= image_tag(article.image_url,class: 'ui-li-thumb', style: 'float: left') if not article.image_url.nil?  %>
      <%= rsssource.name %> | <font style="white-space:normal; font-size: small" ><%= rsssource.url%></font><span class="ui-li-count"><%= rsssource.articles.count %></span>
    </a></li>
