<li><a href="<%= article_path(article.slug) %>" data-transition="flip">
<span class="ui-li-count"><%= article.counter.nil? ? 0 : article.counter %></span>
      <%= article.title %>
      <p>      <font style="white-space:normal; font-size: small" >
          <%- temp = ActionView::Base.full_sanitizer.sanitize(article.content).html_safe%>
          <%= truncate(temp.delete!("&#13;"),length: 250) %>
        </font>
      </p>
      <p ><em><%= timeago_tag  article.published.to_time, :nojs => true, :limit => 10.days.ago %> - <%= article.rss_source.name %></em></p>
      <div class="ui-body ui-body-a"><%= social_share_button_tag(article.title, :url => article.shorturl.nil? ? article.site_url : article.shorturl) %></div>
    </a>
</li>

