<% set_meta_tags :description => "wikislam atau Wikislampedia pengepul berita dan artikel islam yang membantu sahabat - sahabat muslim untuk mencari informasi seputar dunia islam dalam satu website",
                 :keywords => "wikislam, wikislampedia, wikipedia, sunni, islam, berita, artikel, info, news, seputar islam, hadits, Alquran, motivasi, dunia islam, palestina, suriah, mesir, indonesia, irak, iran, Ahlul Sunnah"
%>
<form action="<%= list_articles_path %>">
  <input type="search" name="keyword" id="search-1" value="" />
</form>
<ul id="listview" data-role="listview" data-inset="true">
  <%- @articles.each do |article|%>
    <%= render "list", article: article %>
  <%- end %>
</ul>
<div data-role="footer" data-position="fixed" style="text-align: center">
  <%= paginate @articles, :window => 3 %>
</div>

