<% set_meta_tags :description => "Wikislampedia pengepul berita dan artikel islam",
                 :keywords => "islam, berita, artikel, info, news, seputar islam, hadits, Alquran, motivasi"
%>
<ul id="listview" data-role="listview" data-inset="true">
  <%- @rsssources.each do |rsssource|%>
    <%= render "list_resources", rsssource: rsssource%>
  <%- end %>
</ul>

