<% set_meta_tags :title => "#{@article.title} - Wikislam",
                 :description => "#{ActionView::Base.full_sanitizer.sanitize(@article.summary)}",
                 :keywords => ActionView::Base.full_sanitizer.sanitize(@article.summary).gsub!(" ",","),
               :twitter => {
  :card => ActionView::Base.full_sanitizer.sanitize(@article.summary),
  :site => "@wikislam"
}%>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1416357688598050";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script><script>
function goBack()
{
  window.history.back()
}
</script>

<%= image_tag(@article.image_url) if not @article.image_url.nil?   %>

<div role="main" class="ui-content">
  <h2><%= @article.title %></h2>
  <font style="white-space:normal; font-size: small" >
    <%=raw @article.content %>
    <%= link_to "Source", @article.site_url, class: 'ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-r' %>
    </font>
    <div class="fb-comments" data-width="350" data-href="<%= @article.shorturl %>" data-numposts="5" data-colorscheme="light"></div>
  </div>

  <div data-role="footer" data-position="fixed" style="text-align: center">
    <a href="#" onclick="goBack()" value="Back" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-home" >Back </a>
  </div>
